.modal {
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    max-width: 450px;
    position: absolute;
    z-index: 1;
    display: none;
}

  .modal.show{display: block;}
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .separator {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    color: #8B8E98;
    margin: 0 10px;
  }
  
  .separator > p {
    word-break: keep-all;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    margin: auto;
  }
  
  .separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
    margin: auto;
  }
  
  .credit-card-info--form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .split {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
  }
  
  .split input {
    width: 100%;
  }
  
  .input_label {
    font-size: 10px;
    color: #8B8E98;
    font-weight: 600;
  }
  
  .input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
  }
  
  .purchase--btn {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
  }

  
  .purchase--btn:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
  }

  .destiny-country{margin-bottom: 7px;}
  
  /* Reset input number styles */
  .input_field::-webkit-outer-spin-button,
  .input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .input_field[type=number] {
    -moz-appearance: textfield;
  }

  span.input_label{
    font-weight: 400;
  }

section.data-user-book{
  padding: 30px 0;
  border-bottom: 2px solid #d4c7bc;

  & .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    & label{
      width: 100%;
      display: inline-block;
      font-size: 0.9rem;
      color: #363636;
      margin-bottom: 7px;
    }

    & input[type=text]{
      background-color: #f6f6f6;
      padding-left: 8px;
      height: 44px;
      border-radius: 5px;
      outline: 0;
      border: 0;
      color: #242424;
      font-size: 0.9rem;
    }
  }
}

.data-user-book-wp{
  display: flex;
  width: 60%;
  gap: 30px;

  & .data-book-box{
    width: 20%;
  }
}

.search-box{
  width: 25%;
  position: relative;
 
  & input[type=text]{width: 100%;}

  & button{
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 1.3rem;
    color: #403027;
    position: absolute;
    right: 10px; top: 75%;
    transform: translateY(-50%);
  }

}

main#hotels{margin-top: 30px;}

h2.hotels--title{
  font-weight: normal;
  font-size: 1.3rem;
  margin-bottom: 5px;
  
  & p{
    display: inline-block;
    font-weight: 600;
    font-size: 1.4rem;
  }
}

span.count-hotels{
  font-size: 0.8rem;
  display: block;
  color: #8B8E98;

  & p{
    color: #403027;
    display: inline-block;
  }
}

.hotels-wp{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  margin-top: 20px;
}

.hotels-img{
  width: 100%;
  position: relative;
  
  & figure img{
    border-radius: 20px;
    height: 270px;
    width: 100%;
    object-fit: cover;
  }

    a.favorite{
      display: block;
      width: 35px;
      height: 35px;
      background-color: #F2F2F2;
      border-radius: 50%;
      font-size: 1.2rem;
      text-align: center;
      line-height: 38px;
      position: absolute;
      left: 20px; top: 20px;
      color: #8e644b;
    }
  }

.hotels-description{
  margin-top: 10px;

  & h3.tittle-name-hotel{
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
  }

  & p.location-hotel{
    color: #8B8E98;
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  & .classification{
    display: inline-block;
    margin-right: 20px;

    & i{
      color: #fab000;
    }
  }

  & p.visitors{
    display: inline-block;
    font-size: 0.8rem;
    color: #363636;
  }
}

.btn-hotel{
  margin-top: 20px;
  text-align: center;

  & a{
    display: inline-block;
    background-color: #8e644b;
    color: #F2F2F2;
    font-size: 0.8rem;
    width: 100%;
    border-radius: 4px;
    padding: 10px 22px;
    transition: 0.4s;
    text-align: center;

    &:hover{background-color: #6a4835;}
  }
}

#list-country{
  list-style: none;
  margin: 10px auto;
  text-align: left;
  
  & li{
    margin-bottom: 8px;
    cursor: pointer;
    padding: 5px 0;
    font-size: 0.9rem;
    
    & figure{
      vertical-align: middle;
      display: inline-block;
      margin-right: 10px;

      & img{
        max-width: 25px;
        height: 20px;
      }
    }

    &:hover{
      background-color: #eee;
    }
  }
}