header#header{
    padding: 20px 0;
    border-bottom: 2px solid #d4c7bc;

    & .container .navigation{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .logo a{
        color: #403027;
        font-size: 1.8rem;
        
        & h3{
          font-size: 1.5rem; 
          display: inline-block;

          & svg{vertical-align: middle; position: relative; top: -3px;}
        }
      }

      & ul#nav-menu{
        list-style: none;

        li{
          display: inline-block;
          font-size: 0.9rem;
          margin: 0 15px;

          & a{
            color: #403027;
            position: relative;

            &::before{
              content: '';
              width: 0;
              height: 2px;
              background-color: #8e644b;
              position: absolute;
              bottom: -4px;
              left: 50%; 
              border-radius: 5px;
              transform: translateX(-50%);
              transition: 0.25s;
            }

            &:hover:before, &.active::before{
              width: 40%;
            }

            &.active, &:hover{
              color: #8e644b;
            }
          }
          a.btn{
            &:hover{
              background-color: #8e644b;
              color: #F2F2F2;
            }

            &:hover:before{width: 0;}
          }
        }
      }
    }
}

.card-cookie-wp{
  position: fixed;
  right: 20px; bottom: 20px;
  z-index: 99;
}

.card-cookie {
  width: 300px;
  height: 220px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 13px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
}

#cookieSvg {
  width: 50px;
}

#cookieSvg g path {
  fill: rgb(97, 81, 81);
}

.cookieHeading {
  font-size: 1.2em;
  font-weight: 800;
  color: rgb(26, 26, 26);
}

.cookieDescription {
  text-align: center;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(99, 99, 99);
}

.cookieDescription a {
  --tw-text-opacity: 1;
  color: #8e644b;
}

.cookieDescription a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.acceptButton {
  width: 80px;
  height: 30px;
  background-color: #8e644b;
  transition-duration: .2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px #f3b17e, 0 2px 4px -1px #f3c07e;
  transition: all .6s ease;
}

.declineButton {
  width: 80px;
  height: 30px;
  background-color: #dadada;
  transition-duration: .2s;
  color: rgb(46, 46, 46);
  border: none;
  cursor: not-allowed;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px #bebdbd, 0 2px 4px -1px #bebdbd;
  transition: all .6s ease;
}

.declineButton:hover {
  background-color: #ebebeb;
  box-shadow: 0 10px 15px -3px #bebdbd, 0 4px 6px -2px #bebdbd;
  transition-duration: .2s;
}

.acceptButton:hover {
  background-color: #8b6752;
  box-shadow: 0 10px 15px -3px #f3b17e, 0 4px 6px -2px #f3c07e;
  transition-duration: .2s;
}

footer{
    margin: 70px 0;

    & .container{
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        
        & h2{
            font-family: Qairo;
            text-align: center;
            color: #8e644b;
            margin-bottom: 50px;
            grid-column: 1/4;
            font-size: 1.7rem;
        }

        & ul{
            list-style: none;
            
            & li{
                margin-bottom: 5px;
                text-align: left;
            
                & a{
                    color: #403027;
                    font-size: 0.8rem;

                    &:hover{color: #8e644b;}
                }
            }
        }
    }
}

.box-loader{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(122, 122, 122, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
  display: none;
}

.loader {
  height: 25px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(farthest-side, #4319ec 90%, #3604ff);
  background:
    var(--_g) left,
    var(--_g) right;
  background-size: 25% 100%;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  height: inherit;
  aspect-ratio: 1;
  grid-area: 1/1;
  margin: auto;
  border-radius: 50%;
  transform-origin: -100% 50%;
  background: #2600fff8;
  animation: l49 1s infinite linear;
}
.loader:after {
  transform-origin: 200% 50%;
  --s: -1;
  animation-delay: -0.5s;
}

@keyframes l49 {
  58%,
  100% {
    transform: rotate(calc(var(--s, 1) * 1turn));
  }
}
